h1, h2, h3 {
    margin:0;
    padding:0;
}

body {
    background: rgb(47,47,47);
    background: linear-gradient(90deg, rgba(47,47,47,1) 0%, rgba(88,88,92,1) 100%);
}

h1,h2 {
    color: #ce2929;
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background: rgba(0,0,0,0.65);
    border-radius: 20px;
    margin-bottom: 20px;
}

nav {
    text-align: left;
    display:flex;
    overflow: hidden;
    background: rgba(0,0,0,0.65);
    border-radius: 20px;
    margin-bottom: 10px;
}

nav ul {
    text-align: left;
    display:flex;
    overflow: hidden;
    font-family: calibri, tahoma;
    border-radius:10px;
}
nav ul li {
    list-style-type: none;
    width:150px;
    box-sizing: border-box;
    background: rgb(37, 35, 35);
    text-align: center;
    margin-left: 3px;
    border-radius:10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
nav ul li:hover {
    list-style-type: none;
    box-sizing: border-box;
    background: #747474;
    margin-left: 3px;
    border-radius:10px;

}
nav ul li a {
    display : block;
    color: #ce2929;
    padding : 4pt;
    text-decoration : none;
}
nav ul li li a {
    width: 120px;
}
nav ul li li:hover {
    background: #747474;
}
nav ul li ul {
    overflow: hidden;
    display: none;
}
nav ul li:hover ul {
    position: absolute;
    width: 150px;
    padding: 0;
    display: block;
}

article {
    float:left;
    background:rgba(0,0,0,0.65);
    color: #ce2929;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    width:75%;
    padding:1%;
    margin-bottom: 10px;
}

article a {
    color:#ffffb0
}

aside {
    display:flex;
    flex-direction: column;
    width: 20%;
    padding: 1%;
}

footer {
    clear:both;
    width:100%;
    padding:5px 0 5px 0;
    border-radius: 20px;
    background: rgba(0,0,0,0.65);
    color: #ce2929;
    text-align:center;
}

.box {
    background:rgba(0,0,0,0.65);
    color:#ce2929;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 20px;
    padding-top: 5px;
    border-radius: 20px;
    margin:5px;
    font-size:90%;
}

.box a {
    color:#ffffb0
}

h3#gal {
    text-align: center;
    font-size: 30px;
}

#zdj {
    text-align: center;
}

#zdj img {
    margin-right: 35px;
    margin-bottom: 10px;
    width: 20%;
}

@media screen and  (max-width: 780px)  {
    body { 
        font-size: 13px; }
    h1 { 
        font-size: 23px; 
    }
    h2 { font-size: 18px; 
    }
    nav {
        width: 95%;
    }
    nav ul { 
        width: 100%;
        display:block;
        flex-direction: column;
        align-items: center;
        }
    article {
        width: 60%;
    }
    aside {
        width: 35%;
    }
    .box {
        padding-top: 5px;
        padding-left: 10px;
    }
    #zdj img {
        width: 100%;
    }
   }