.table_res {
    overflow-x: auto;
}

table {
    background: rgb(37, 35, 35);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align:center;
    width:94%;
    margin:2%;
    border:1pt solid #ffffff;
    }

caption {
    font-size:150%
    }

tfoot, thead {
    background:#575757;
    color:#ffffb0;
    font-size:120%
    }

td, th {
    border:1pt solid #000040;
    }

tfoot a {
    color:#ffffff;
    }

tbody tr:nth-child(even) {
    background:#ffffff;
    }

#parzyste {
    background:#ffffff;
}